/* modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(135, 132, 132, 0.9); */

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    /* background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 8px rgba(135, 132, 132, 0.9); */

    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
  }
  
  /* modal.css */
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

  